html,
body,
.app {
  height: 100vh;
  background-image: url(./auth/bgnd1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1em;
}

/*messages*/
.messages {
  height: 23em;
  overflow-y: scroll;
}

.message__form {
  z-index: 200;
  right: 1em;
  left: 0;
}
